body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* background-image: url('./images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar .navbar-expand-lg .navbar-light .bg-light {
  background: none;
}

a {
  color: #FFF;
}
a:hover {
   color: #00F
}

/* .item-detail-img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  height: auto;
  width: 300px;
} */

/* .home{
  background: url(./images/main-background.jpg) no-repeat center center fixed;
  background-size: cover;

} */